body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}

header {
    background: ORANGE;
    color: BLACK;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
    background: #D6D3C4;
}

nav button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.store {
    padding: 30px;
}

.hidden {
    display: none;
}

.products {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    text-align: center;
}

.card span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: green;
}

footer {
    text-align: CENTER;
    padding: 15px;
    background: #D6D3C4;
    color: BLACK;
    margin-top: 30px;
}
